body, html{
  scroll-behavior: smooth;
  margin: 0px;
}

#mobile{
  display: none;
}

#links{
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}

.link{
  font-size: 36px;
  font-family: 'Fjalla One', sans-serif;
  color: #242424;
  padding: 15px;
}

.link:hover{
  color: #939F5C;
}

a{
  text-decoration: none;
}

#header{
    height: 900px;
    margin-bottom: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header h1{
    font-family: 'Fjalla One', sans-serif;
    font-size: 80px;
    color: #242424;
    border-bottom: 5px solid #939F5C;
}

#codeIcon{
    width: 100px;
    height: 100px;
    margin-right: 30px;
    padding: 20px;
    border-radius: 50%;
    background: #939F5C;
}

#info{
    color: #242424;
    border-left: 5px solid #939F5C;
    align-self: center;
    margin-bottom: 500px;
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.headerTitle{
  color: #242424;
  font-size: 60px;
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  margin-bottom: 120px;
}

#projectTitle{
  color: #242424;
  font-size: 40px;
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
}

#projectHeader{
  margin-top: 500px;
}

.infoSubsection{
  text-align: center;
}

.infoSubsection img{
  height: 200px;
}


.infoText{
  color: #242424;
  opacity: .5;
  font-family: 'Fjalla One', sans-serif;
  font-size: 30px;
  margin: 0 auto;
  padding: 30px;
}

#mobile #projects{
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 150px;
  }

#mobile img{
  margin-top: 50px;
}

#projects{
  display: flex;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 250px;
}

#projects > div {
  flex: 1;
}

#tastifyIMG{
  width: 100%;
  align-self: center;
}

#tastifyText{
  border-left: 5px solid #93BEDF;
}

#bloomText{
  border-right: 5px solid #FE9783;
}

#pulseText{
  border-left: 5px solid #4B4B4B;
}

.projectInfo{
  font-family: 'Roboto', sans-serif;
  width: 70%;
  margin: 0 auto;
  line-height: 30px;
}

.buttonSection{
  text-align: center;
  margin-top: 15px;
}

.buttons {
  width: 150px;
  height: 50px;
  padding: 10px;
  background: none;
  border: 2px solid #242424;
  border-radius: 15px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}


.buttons:hover{
  cursor: pointer;
  background: #242424;
  color: white;
}

#contact{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #242424;
  height: 300px;
  opacity: .8;
}

#contact img{
  height: 150px;
  border-radius: 100%;
  background-color: #939F5C;
  padding: 2px;
}

.contactIcon:hover img {
  opacity: .2;
  cursor: pointer;
}

.contactIcon{
    display: flex;
    flex-direction: column;
    position: relative;
} 

.contactIcon:hover #contactTitle{
  display: inherit;
}

#contactTitle{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  margin: auto;
  display: none;
  font-family: 'Fjalla One', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
}


.contactIcon:hover #contactTitle{
  display: block;
}


@media screen and (max-width: 1000px) {

  #fullwidth{
    display: none
  }

  #codeIcon{
    width: 100px;
    height: 100px;
    margin-right: 0px;
    padding: 20px;
    border-radius: 50%;
    background: #939F5C;
}

  #mobile{
    display: inline-block;
  }

  #links{
  display: flex;
  justify-content: center;
  margin-right: 0px;
}

  #info{
    display: block;
}

#projectHeader{
  margin-top: 250px;
}

}


@media screen and (max-width: 800px) {

  #header{
    display: block;
    text-align: center;
    margin-top: 100px;
    height: 500px;
  }

.link{
  font-size: 24px;
  font-family: 'Fjalla One', sans-serif;
  color: #242424;
  padding: 10px;
}

#contact img{
  height: 100px;
}

#contactTitle{
  font-size: 18px;
}

}